<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button> 
            <span class="name mt-3">Juliana Suwandi</span> <span class="idd">julianasuwandi35@gmail.com</span>
            <span class="jeniskelamin">Perempuan</span><span class="kota">Pontianak</span>
        </div>
    </div>
</div>